<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE demo.mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-demo.mapper.dtd">
<demo.mapper namespace="demo.dao.UserDao">
    <select id="selectByUsername" parameterType="String" resultType="pojo.User">
        select * from user where username= #{username}
    </select>
    <select id="selectAll" resultType="pojo.User">
        select * from user
    </select>
</demo.mapper>